---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - all.yaml
  - cets.yaml

secretGenerator:
- name: clouddns-dns01-solver-svc-acct
  files:
  - secrets/key.json
generatorOptions:
  disableNameSuffixHash: true