# Default values for go-k8s.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: gcr.io/schedulytics-278820/schedulytics-frontend
  tag: 65afe68af8abc2f6aff27da980886a8c5475daa0
  pullPolicy: IfNotPresent
service:
  name: schedulytics-frontend
  type: NodePort
  externalPort: 80
  internalPort: 80
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
